#logo{
    text-align: center;
    display: block;
  }
 
  #PREFAZIONE{ color: rgb(15, 90, 128);  text-align: center; background-color: rgb(248, 224, 183); border-top:5px; padding:0,5em; height:2em; border-top:3px solid rgb(244, 208, 142);
}
#titolo{ text-align: center;size:5em;}

.colorblue {color: rgb(70, 101, 166);}
.centro{text-align:center;}
#Sally { color:gray;}
#Fresh { border:inline 1px;
writing-mode: horizontal-tb;}
#div {text-align: center;}
#footer{text-align:center;}